@import url(./src/styles/styles.css);

#hero {
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--content-container-lateral-padding);
    img {
      display: block;
      margin: 0 auto;
      height: inherit;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;

    p {
      width: var(--hero-p-width);
      margin-bottom: 1.5rem;
    }

    .hero-cta::before {
      --x: 3px;
      content: "";
      display: block;
      height: var(--x);
      width: calc(var(--fs-a) * 1.4);
      border-radius: calc(var(--x) / 2);
      background-color: var(--bg-color-accent);
      margin-bottom: calc(1vw + 0.5rem);
    }

    .hero-cta {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .primary-hero-cta {
        grid-column: 1 / 13;
      }

      .secondary-hero-cta {
        grid-column: 1 / 13;
      }

      a {
        letter-spacing: 0.25em;
        padding: 0.75rem 0;
        width: fit-content;
        display: flex;
        align-items: center;

        img {
          height: calc(var(--fs-a) * 1.4);
        }
      }
    }
  }
}

#cta {
  .cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--fs-h3);

    h3,
    p {
      text-align: center;
    }

    li {
      font-weight: 700;
    }

    p,
    li {
      font-size: calc(var(--fs-p) + 2px);
    }

    a {
      min-height: var(--thumb-size);
      min-width: fit-content;
      width: 15rem;
      max-width: 300px;
      background-color: var(--bg-color-secondary);
      color: var(--font-color-secondary);
      font-size: var(--fs-p);
      padding: 16px 24px;
      border-radius: 8px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#info {
  .info-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 40px;
    column-gap: 16px;

    .info-content-left {
      grid-column: var(--info-content-left-grid-column);
      grid-row: var(--info-content-left-grid-row);
    }

    .info-content-right {
      grid-column: var(--info-content-right-grid-column);
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      margin-bottom: 16px;
    }

    h2 {
      margin-bottom: 28px;
    }

    .conclusion {
      margin-bottom: 0;
    }

    .conclusion::before {
      --x: 3px;
      content: "";
      display: block;
      height: var(--x);
      width: calc(var(--fs-a) * 1.4);
      border-radius: calc(var(--x) / 2);
      background-color: var(--bg-color-accent);
      margin-bottom: calc(1vw + 0.5rem);
    }

    .video {
      width: 100%;
      aspect-ratio: 560 / 315;
      background-color: blue;
      margin: auto 0;
    }
  }
}
