@import url(./src/css/fonts.css);
@import url(./src/css/root.css);
@import url(./src/css/reset.css);

#card {
    border: 1px solid red;
    padding: 4px;
    margin: 4px;
    max-width: 500px;
}

.uniquePurpose {
    border: 1px solid blue;
}

.title {
    border: 1px solid green;
}

.field {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}
