h1 {
    font-size: 49px;
    line-height: 1.11;
}

h2 {
    font-size: 23px;
    color: var(--accent);
    font-weight: 400;
}

h1,
h2,
h4 {
    text-align: center;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 20px;
    color: var(--font-grey);
    line-height: 1.25;
}

iframe {
    max-width: 100%;
}

.intro {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

.cta {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0;
}

section > .content {
    text-align: center;
    background-color: var(--bg-dark);
    color: var(--font-light);
    padding: 70px 0.75rem;
}

section > .intro > .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    margin-bottom: 25px;
}

.description {
    margin-bottom: 25px;
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 1024px) {
}
