@import url(../styles.css);

#carIsHybrid,
#carIsNotHybrid,
#displayPreMessage,
#fuelCostCard,
#taxCard,
#thermicChoice,
.field.thermic,
.field.electric,
.field.plugIn {
  display: none;
}

#hero-calc {
  .hero-card {
    border-radius: 20px;
    background-image: url(/src/assets/images/doodles/doodle-m-3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;

    .heading {
      font-weight: 400;
    }
  }
}

.info-display {
  display: flex;
  flex-direction: column;

  .info-cards-organizer {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 80px 0;

    .info-card {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .heading {
        font-size: var(--fs-heading-small);
        font-weight: 400;
        display: flex;
        align-items: center;
        .dot {
          height: 12px;
          aspect-ratio: 1 / 1;
          background-color: var(--bg-color-accent);
          border-radius: 6px;
          margin-right: 12px;
        }
      }
    }
  }

  .info-result-cta {
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: fit-content;
    padding: 80px 0;
    max-width: 100%;

    .primary-result,
    .secondary-result {
      .heading {
        font-size: var(--fs-heading-large);
        font-weight: 400;
      }
      .result {
        display: flex;
        .number {
          line-height: 1;
        }
        .text {
          font-size: var(--fs-cost-display-label);
          color: var(--font-color-accent);
          display: flex;
          align-items: end;
          margin-left: 8px;
        }
      }
    }

    .primary-result .result .number {
      font-size: var(--fs-cost-display-primary);
    }

    .secondary-result .result .number {
      font-size: var(--fs-cost-display-secondary);
    }

    .primary-result,
    .secondary-result,
    .results-cta {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}

@media (width >= 572px) {
  .info-display {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 73px));
    gap: 146px;
    position: relative;
    .sticky-wrapper {
      position: relative;
      .info-result-cta {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

/* @media (width >= 1280px) {
  .info-display {
    gap: 263px;
  }
} */

a.action-button-primary {
  display: flex;
  border: 1px solid var(--font-color-accent);
  align-items: center;
  justify-content: center;
  border-radius: var(--thumb-size);
  padding: var(--fs-100);
  width: fit-content;
  background-color: var(--bg-color-accent);
  color: var(--font-color-contrast);
  img {
    filter: brightness(0) invert(1);
    margin-left: 4px;
  }
}
