@import url(../styles.css);

header {
  height: 80px;

  position: relative;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fs-a) * 2);
  margin-bottom: 120px;
  margin-top: 96px;

  .cta-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--fs-a);
  }

  @media (width >= 768px) {
    .cta-buttons {
      flex-direction: row;
      justify-content: center;
      .action-button-primary,
      .action-button-secondary {
        width: fit-content;
      }
    }
  }

  @media (width >= 768px) {
    .cta-buttons {
      flex-direction: row;
      justify-content: center;
      .action-button-primary,
      .action-button-secondary {
        width: fit-content;
      }
    }
  }
}

.action-button-primary,
.action-button-secondary {
  display: flex;
  border: 1px solid var(--font-color-accent);
  align-items: center;
  justify-content: center;
  border-radius: var(--thumb-size);
  padding: var(--fs-100);
}

.action-button-primary {
  background-color: var(--bg-color-accent);
  color: var(--font-color-contrast);
}

.action-button-secondary {
  color: var(--font-color-accent);
}

.action-button-primary:hover,
.action-button-secondary:hover {
  background-color: var(--bg-color-accent-hover);
  color: var(--font-color-contrast);
}

.action-button-secondary:hover {
  img {
    filter: brightness(0) invert(1);
  }
}

.action-icon {
  margin-left: 4px;
}

.grid-wrapper {
  min-height: 258px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 8px;
  row-gap: 16px;

  .card {
    grid-column: span 2;
    border-radius: 20px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 258px;

    img {
      height: 24px;
      margin-right: auto;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      [role="heading"] {
        font-weight: 700;
        color: var(--font-color-secondary-dark);
        font-size: var(--fs-400);
      }

      p {
        color: var(--font-color-secondary-light);
      }
    }
  }

  .imgOne {
    background-image: url(/src/assets/images/handshake.png);
  }

  .imgTwo {
    background-image: url(/src/assets/images/smartphone.png);
  }

  .imgOne,
  .imgTwo {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card:first-of-type {
    grid-column: 1 / span 12;
  }

  .card {
    grid-column: span 12;
  }

  @media (width >= 572px) {
    .card:first-of-type {
      grid-column: 1 / span 4;
    }

    .card {
      grid-column: span 4;
    }

    .graphicCard {
      display: none;
    }
  }

  @media (width >= 1280px) {
    .card:first-of-type {
      grid-column: 2 / span 2;
    }

    .card {
      grid-column: span 2;
    }

    .graphicCard {
      display: flex;
    }
  }
}

.video {
  background-color: blueviolet;
  width: 100%;
  aspect-ratio: 3 / 2;
}

@media (width >= 572px) {
  #about {
    .grid-wrapper {
      grid-template-columns: repeat(8, 1fr);
      gap: 20px;
      height: fit-content;
      .card {
        grid-column: span 3;
      }

      .video {
        grid-column: span 5;
      }
    }
  }
}

#about {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (width >= 768px) {
  #about {
    padding-top: 120px;
    gap: 120px;

    .big-paragraph {
      text-align: center;
      margin: 0 auto;
    }

    @media (width >= 1280px) {
      .big-paragraph {
        width: 80%;
      }
    }
  }
}

@media (width >= 1280px) {
  #about {
    padding-top: 200px;
  }
}

#cta {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  .cta-grid-wrapper {
    display: grid;
    row-gap: 40px;
    column-gap: 80px;
    .heading {
      font-size: var(--fs-cta-heading);
      text-align: center;
      margin: 0 auto;
      font-weight: 400;
    }
  }

  .cta-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0;
    row-gap: 40px;
    .heading {
      font-size: var(--fs-cta-main-heading);
      max-width: 100%;
      font-weight: 400;
    }
    p {
      width: 75%;
    }
    a {
      width: fit-content;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@media (width >= 572px) {
  #cta {
    gap: 120px;
  }
}

@media (width >= 1280px) {
  #cta {
    .cta-grid-wrapper {
      grid-template-columns: repeat(12, 1fr);
      .heading {
        grid-column: span 3;
        text-align: left;
      }
      .grid-wrapper {
        grid-column: span 9;
        .card {
          grid-column: span 4;
        }
      }
    }
    .cta-card {
      .heading {
        font-weight: 700;
      }
    }
  }
}

.cta-card {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 60px 0;
  gap: 40px;
  .heading,
  p,
  a {
    grid-column: 2 / span 10;
  }
}

@media (width >= 572px) {
  .cta-card {
    padding: 120px 0;
  }
}

.cta-card,
#intro {
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#intro {
  background-image: url(/src/assets/images/doodles/doodle-m-1.png);
  background-size: 100% auto;
}

.cta-card {
  background-image: url(/src/assets/images/doodles/doodle-m-2.png);
}

@media (width >= 572px) {
  #intro {
    background-image: url(/src/assets/images/doodles/doodle-t-1.png);
  }
  .cta-card {
    background-image: url(/src/assets/images/doodles/doodle-t-2.png);
  }
}

@media (width >= 1280px) {
  #intro {
    background-image: url(/src/assets/images/doodles/doodle-d-1.png);
  }
  .cta-card {
    background-image: url(/src/assets/images/doodles/doodle-d-2.png);
  }
}
