@layer fonts {
  @font-face {
    font-family: "Mulish";
    font-weight: 400;
    font-style: normal;
    src: url(../../public/fonts/Mulish.woff2);
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 400;
    font-style: italic;
    src: url(../../public/fonts/Mulish-Italic.woff2);
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-style: normal;
    src: url(../../public/fonts/Mulish-Bold.woff2);
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-style: italic;
    src: url(../../public/fonts/Mulish-BoldItalic.woff2);
  }
}

:root {
  --ff: "Mulish", sans-serif;

  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-alt: hsl(0, 0%, 99%);
  --clr-white-shade: hsla(0, 0%, 100%, 0.4);
  --clr-black: hsl(0, 0%, 0%);
  --clr-black-alt: hsl(208, 25%, 24%);
  --clr-blue: hsl(209, 100%, 16%);
  --clr-blue-shade: hsla(209, 100%, 16%, 0.7);
  --clr-red: hsl(352, 100%, 39%);
  --clr-orange: hsl(14, 100%, 55%);
  --clr-amber: hsl(42, 95%, 57%);

  /* font sizes */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-550: 1.375rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-825: 2.25rem;
  --fs-850: 2.5rem;
  --fs-900: 3.25rem;
}

:root {
  /* colors */
  --bg-color: var(--clr-white-alt);
  --bg-color-secondary: var(--clr-blue);
  --font-color-dark: var(--clr-black-alt);
  --font-color-dark-headings: var(--clr-black);
  --font-color-light: var(--clr-white);
  --clr-accent: var(--clr-orange);
  --clr-action: var(--clr-red);

  /* sizes */
  --thumb-size: 44px;

  --fs-p: var(--fs-400);
  --fs-h1: var(--fs-800);
  --fs-h2: var(--fs-700);
  --fs-h3: var(--fs-600);

  --container-lateral-padding: 1.25rem;
  --container-max-width: 34rem;

  --grid-gap: 1.25rem;
  --grid-template-columns: 100%;
  --grid-template-rows: fit-content 1fr;

  --header-height: 100px;
  --footer-height: 100px;
  --main-height: calc(100dvh - var(--header-height) - var(--footer-height));
}

@media (width >= 479px) {
  :root {
    --grid-gap: 2.5rem;
    --container-lateral-padding: 2.5rem;
    --fs-h1: var(--fs-825);
    --fs-p: var(--fs-500);
  }
}

@media (width >= 767px) {
  :root {
    --fs-h1: var(--fs-850);
  }
}
@media (width >= 991px) {
  :root {
    --grid-gap: 3rem;
    --grid-template-columns: repeat(2, 1fr);
    --grid-template-rows: auto;

    --fs-p: var(--fs-550);
    --container-lateral-padding: 5rem;
    --grid-gap: 6rem;
    --fs-h1: var(--fs-900);
    --fs-h3: var(--fs-800);

    --container-max-width: 80rem;
  }
}

@media (width >= 1440px) {
  :root {
    --container-lateral-padding: 9rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

[role="list"],
[role="menubar"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--font-color-dark-headings);
}

p {
  text-wrap: pretty;
  font-size: var(--fs-p);
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: -0.04em;
  line-height: 1.05;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-p);
}

button,
a {
  font-size: var(--fs-400);
  font-weight: 700;
  min-height: var(--thumb-size);
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: inline;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style-position: inside;
}

body {
  font-family: var(--ff);
  color: var(--font-color-dark);
  font-size: var(--fs-300);
  background-color: var(--bg-color);
}

header {
  min-height: var(--header-height);
  border-bottom: 1px solid red;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--container-lateral-padding);
}

main {
  min-height: var(--main-height);
}

.container {
  margin: 0 auto;
  padding: 1rem var(--container-lateral-padding);
  max-width: var(--container-max-width);
}

#hero {
  min-height: calc(100dvh - var(--header-height));
  max-height: calc(835px - var(--header-height));
  display: flex;
  align-items: center;
}

/* Adjust height dynamically for smaller viewports */
@media (max-height: 835px) {
  #hero {
    min-height: auto;
    height: auto;
  }
}

#cost-calculator {
  background-color: var(--bg-color-secondary);
  margin-top: 5rem;
}

#recap-extra-cost-list {
  padding: 0.375rem 1.25rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  gap: var(--grid-gap);
  .one {
    grid-column: 1;
    grid-row: 2 / 3;
    margin: auto 0;
  }
  .two {
    grid-column: 1;
    grid-row: 1 / 2;
    margin: auto 0;
  }
}

@media (width >= 991px) {
  .grid {
    .one {
      grid-column: 1 / 2;
      grid-row: 1;
    }
    .two {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
}

hgroup {
  margin-bottom: var(--fs-h3);
  h3 {
    color: inherit;
    margin-bottom: var(--fs-h3);
  }

  h2 {
    color: inherit;
    margin-bottom: var(--fs-h2);
  }
}

.squiggly-line {
  text-decoration: var(--clr-accent) wavy underline;
}

.card,
.card-contrast {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1.5rem;
}

.card {
  background-color: var(--bg-color);
  color: var(--font-color-dark);
}

.card-contrast {
  background-color: var(--bg-color-secondary);
  color: var(--font-color-light);
}

.button,
.button-action,
.button-contrast {
  border: 2px solid var(--bg-color-secondary);
  background-color: var(--bg-color-secondary);
  color: var(--font-color-light);
  padding: 16px 32px;
  border-radius: 8px;
  text-align: center;
}

.button-action {
  border: 2px solid var(--clr-action);
  background-color: var(--clr-action);
  color: var(--font-color-light);
}

.button-contrast {
  border: 2px solid var(--bg-color);
  background-color: var(--bg-color);
  color: var(--bg-color-secondary);
}

@media (width >= 991px) {
  .button,
  .button-action,
  .button-contrast {
    width: fit-content;
  }

  .card,
  .card-contrast {
    padding: 2rem;
  }
}

form {
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: var(--clr-blue-shade);
  .fields {
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
    .field {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .field-label {
        font-weight: 700;
        font-size: var(--fs-300);
        color: var(--font-color-light);
        margin-left: 0.25rem; /* metà del border radius */
      }

      .field-input {
        min-height: var(--thumb-size);

        /* label */
        label {
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          cursor: pointer;
          font-size: var(--fs-300);
          background-color: var(--bg-color);
          border: 2px solid var(--bg-color);
          color: var(--font-color-dark);

          input[type="radio"] {
            height: 1rem;
            width: 1rem;
            margin: 0 0.5rem;
            accent-color: var(--clr-accent);
          }
        }
        label:has(input:checked) {
          font-weight: 700;
          border-color: var(--clr-accent);
        }
      }

      .field-input > input,
      .field-input > select {
        border-radius: 0.5rem;
        border: 0;
        padding: 0.125rem 1.25rem;
      }

      .field-input > input:focus,
      .field-input > select:focus {
        outline: 2px solid var(--clr-accent);
      }
    }
    .field-separator {
      border: 2px solid var(--bg-color);
      border-radius: 2px;
    }
  }
}

.divider {
  height: 1px;
  background-color: var(--font-color-dark);
  margin: var(--fs-p) 0;
}

.extra-costs-summary {
  background-color: var(--bg-color);
  min-height: 3rem;
  border-radius: 0.5rem;
}

.field-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3px;

  .column-1-5 {
    grid-column: 1 / 5;
  }

  .column-1-4 {
    grid-column: 1 / 4;
  }

  .column-1-7 {
    grid-column: 1 / 7;
  }

  .column-7-8 {
    grid-column: 7 / 8;
  }

  .column-8-11 {
    grid-column: 8 / 11;
  }

  .column-11-13 {
    grid-column: 8 / 11;
  }

  .column-7-13 {
    grid-column: 7 / 13;
  }

  .column-1-13 {
    grid-column: 1 / 13;
  }

  .column-5-9 {
    grid-column: 5 / 9;
  }

  .column-9-13 {
    grid-column: 9 / 13;
  }
}

.forms-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--fs-h3);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cost-summary {
  color: var(--font-color-light);
  font-size: var(--fs-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-cost-to-list {
  background-color: var(--clr-white);
  color: inherit;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-white);
}

#add-cost-to-list:active {
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-white-alt);
}

.amber {
  background-color: var(--clr-amber);
}

.catch {
  text-align: center;
  font-weight: 700;
}

#result {
  padding: 3rem 0;
}

#cta {
  background-color: var(--clr-amber);

  .card {
    background-color: transparent;
  }
}

footer {
  min-height: var(--footer-height);
}
