@layer fonts {
  @font-face {
    font-family: "Mulish";
    font-weight: 400;
    font-style: normal;
    src: url(../../public/fonts/Mulish.woff2);
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 400;
    font-style: italic;
    src: url(../../public/fonts/Mulish-Italic.woff2);
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-style: normal;
    src: url(../../public/fonts/Mulish-Bold.woff2);
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-style: italic;
    src: url(../../public/fonts/Mulish-BoldItalic.woff2);
  }
}

@layer base {
  :root {
    --ff: "Mulish", sans-serif; /* testare Mulish */

    --clr-blue-100: hsl(229, 74%, 90%);
    --clr-blue-200: hsl(229, 74%, 80%);
    --clr-blue-300: hsl(229, 74%, 70%);
    --clr-blue-400: hsl(229, 74%, 60%);
    --clr-blue-500: hsl(229, 74%, 50%);
    --clr-blue-600: hsl(229, 74%, 42%);
    --clr-blue-700: hsl(229, 74%, 30%);
    --clr-blue-800: hsl(229, 74%, 20%);
    --clr-blue-900: hsl(229, 74%, 10%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-warm-white: hsl(22, 100%, 98%); /* background color */
    --clr-black: hsl(0, 0%, 0%);
    --clr-lighter-black: hsl(208, 25%, 24%);

    --clr-blue-shade: hsla(162, 20%, 80%, 0.3);
    --clr-blue-shade-strong: hsla(162, 20%, 80%, 0.9);
    --clr-pink-shade: hsla(349, 100%, 93%, 0.75);

    --clr-gray-100: hsl(0, 0%, 97%);
    --clr-gray-200: hsl(0, 0%, 92%);
    --clr-gray-300: hsl(0, 0%, 70%);
    --clr-gray-400: hsl(0, 0%, 60%);
    --clr-gray-500: hsl(0, 0%, 50%);
    --clr-gray-600: hsl(0, 0%, 45%);
    --clr-gray-700: hsl(0, 0%, 30%);
    --clr-grey-750: hsl(208, 25%, 24%); /* font color */
    --clr-gray-800: hsl(0, 0%, 20%);
    --clr-gray-900: hsl(0, 0%, 15%);

    --clr-light-gold: hsl(38, 84%, 66%);
    --clr-burnt-gold: hsl(38, 84%, 39%);

    --fs-300: 1rem;
    --fs-400: 1.125rem; /* <a> and <button> font size */
    --fs-500: 1.25rem;
    --fs-550: 1.375rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-825: 2.25rem;
    --fs-850: 2.5rem;
    --fs-900: 3.25rem;
  }

  :root {
    /* colors */
    --background-color: var(--clr-warm-white);
    --background-color-secondary: var(--clr-blue-shade);
    --background-color-secondary-strong: var(--clr-blue-shade-strong);
    --font-color: var(--clr-grey-750);
    --button-border-color: var(--clr-light-gold);
    --button-border-color-dark: var(--clr-lighter-black);
    --button-background-color: var(--clr-light-gold);
    --button-font-color: var(--clr-burnt-gold);
    --form-background-color: var(--clr-pink-shade);
    --input-details-color: var(--clr-burnt-gold);

    /* sizes */
    --form-padding: 8px;
    --form-field-border-radius: 8px;
    --form-fields-border-radius: calc(
      var(--form-field-border-radius) + var(--form-padding)
    );
    --form-border-radius: calc(
      var(--form-fields-border-radius) + var(--form-padding)
    );

    --min-thumb-size: 44px;

    --fs-p: var(--fs-400);
    --fs-h1: var(--fs-800);
    --fs-h2: var(--fs-700);
    --fs-h3: var(--fs-600);

    --container-lateral-padding: 1.25rem;
    --container-max-width: 34rem;

    --grid-gap: 1.25rem;
    --grid-template-columns: 100%;
    --grid-template-rows: fit-content 1fr;

    --header-height: 100px;
    --footer-height: 100px;
    --main-height: calc(100dvh - var(--header-height) - var(--footer-height));
  }

  @media (width >= 479px) {
    :root {
      --grid-gap: 2.5rem;
      --container-lateral-padding: 2.5rem;
      --fs-h1: var(--fs-825);
      --fs-p: var(--fs-500);
    }
  }

  @media (width >= 767px) {
    :root {
      --fs-h1: var(--fs-850);
    }
  }
  @media (width >= 991px) {
    :root {
      --grid-gap: 3rem;
      --grid-template-columns: repeat(2, 1fr);
      --grid-template-rows: auto;

      --fs-p: var(--fs-550);
      --container-lateral-padding: 5rem;
      --grid-gap: 6rem;
      --fs-h1: var(--fs-900);
      --fs-h3: var(--fs-800);

      --container-max-width: 80rem;
    }
  }

  @media (width >= 1440px) {
    :root {
      --container-lateral-padding: 9rem;
    }
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  [role="list"],
  [role="menubar"] {
    list-style: none;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
    font-size: var(--fs-p);
  }

  h1 {
    font-size: var(--fs-h1);
    letter-spacing: -0.04em;
    line-height: 1.05;
  }

  h2 {
    font-size: var(--fs-h2);
  }

  h3 {
    font-size: var(--fs-h3);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button,
  a {
    font-size: var(--fs-400);
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: inline;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

body {
  font-family: var(--ff);
  color: var(--font-color);
  font-size: var(--fs-300);
  background-color: var(--background-color);
}

header {
  min-height: var(--header-height);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--container-lateral-padding);
}

[role="menuitem"] {
  [type="button"] {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;

    span {
      border: 2px solid black;
    }
  }
}

main {
  min-height: var(--main-height);
}

.container {
  margin: 0 auto;
  padding: 1rem var(--container-lateral-padding);
  min-height: 100px;
  max-width: var(--container-max-width);
}

#hero {
  min-height: fit-content;
  height: calc(100dvh - var(--header-height));
  max-height: calc(888px - var(--header-height));
  display: flex;
  align-items: center;
}

.cta-button,
.cta-button-secondary,
.cta-button-tertiary {
  border: 2px solid var(--button-border-color);
  padding: 16px 32px;
  border-radius: 8px;
  text-align: center;
}

.cta-button {
  background-color: var(--button-background-color);
}

.cta-button-secondary {
  color: var(--button-font-color);
}

.cta-button-tertiary {
  color: var(--clr-black);
  border-color: #2d3d4b;
}

@media (width >= 991px) {
  .cta-button {
    width: fit-content;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.label-button {
  border: 1px solid var(--input-details-color);
  border-radius: 4px;
  min-height: var(--min-thumb-size);
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    margin: 4px;
    accent-color: var(--input-details-color);
  }
}

.label-button:has(input:checked) {
  background-color: var(--clr-light-gold);
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  gap: var(--grid-gap);
  .one {
    grid-column: 1;
    grid-row: 2 / 3;
    margin: auto 0;
  }
  .two {
    grid-column: 1;
    grid-row: 1 / 2;
    margin: auto 0;
  }
}

@media (width >= 991px) {
  .grid {
    .one {
      grid-column: 1 / 2;
      grid-row: 1;
    }
    .two {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
}

hgroup {
  p {
    margin-bottom: var(--fs-p);
  }

  h1 {
    margin-bottom: var(--fs-h1);
  }

  h3 {
    margin-bottom: var(--fs-h3);
  }
}

#intro {
  background-color: var(--background-color-secondary);
  padding: 2.25rem 0;
}

.cost {
  margin-top: 2.25rem;
  h2 {
    margin-bottom: var(--fs-h2);
  }
}

.fs-300 {
  font-size: var(--fs-300);
}

.p-brake {
  margin-bottom: var(--fs-p);
}

.error {
  color: red;
}

.notations {
  font-size: var(--fs-300);
}

form {
  background-color: var(--form-background-color);
  padding: var(--form-padding);
  border-radius: var(--form-border-radius);

  .fields {
    padding: var(--form-padding);
    border-radius: var(--form-fields-border-radius);

    .field {
      padding: var(--form-padding);
      border-radius: var(--form-field-border-radius);
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.125rem;

      input:focus:not([type="radio"]) {
        outline: 2px solid var(--input-details-color);
      }

      .field-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0.25rem;

        .grid-column-1-4 {
          grid-column: 1 / 4;
        }
        .grid-column-4-13 {
          grid-column: 4 / 13;
        }
        .grid-column-1-5 {
          grid-column: 1 / 5;
        }
        .grid-column-5-9 {
          grid-column: 5 / 9;
        }
        .grid-column-9-13 {
          grid-column: 9 / 13;
        }
        .grid-column-1-7 {
          grid-column: 1 / 7;
        }
        .grid-column-7-13 {
          grid-column: 7 / 13;
        }
        .grid-column-5-13 {
          grid-column: 5 / 13;
        }
      }

      .field-description {
        display: block;
        margin-bottom: 4px;
      }
    }

    .field > input,
    .input-target {
      min-height: var(--min-thumb-size);
      width: 100%;
      border: 1px solid var(--input-details-color);
      margin: 1px;
      border-radius: 4px;
      padding: 0 1rem;
    }

    .field:has(.notations) {
      background-color: var(--background-color-secondary-strong);
      margin: 1rem auto;
    }
  }
}

.divider {
  border-bottom: 1px solid var(--clr-lighter-black);
  margin: 2px 0;
}

.cost-result {
  display: flex;
  align-content: end;
  justify-content: space-between;
  margin-top: 1rem;
}

.fw-700 {
  font-weight: 700;
}

footer {
  min-height: var(--footer-height);
}

/* TODO: learn clamp() */
