input-number {
  div {
    width: 100%;
    position: relative;

    input {
      width: inherit;
      height: var(--thumb-size);
      border-radius: calc(var(--thumb-size) / 2);
      border: 1px solid var(--bg-color-secondary);
      padding: 4px 40px;
      font-size: var(--fs-300);
    }

    input:focus {
      outline: 1px solid var(--bg-color-accent);
      border-color: var(--bg-color-accent);
    }

    div {
      height: inherit;
      width: fit-content;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        filter: brightness(0.25);
        height: 16px;
      }
    }

    div:first-of-type {
      left: 0;
      padding-left: 16px;
    }

    div:last-of-type {
      right: 0;
      padding-right: 16px;
    }
  }
}

radio-button {
  div {
    display: flex;
    gap: 26px;

    label {
      height: var(--thumb-size);
      background-color: var(--bg-color-primary-contrast);
      display: flex;
      align-items: center;
      font-size: var(--fs-300);
      cursor: pointer;

      span {
        padding: 0 14px;
      }

      input {
        width: 18px;
        aspect-ratio: 1 / 1;
        accent-color: var(--font-color-accent);
        cursor: inherit;
      }
    }
  }
}

drop-down {
  select {
    width: 100%;
    height: var(--thumb-size);
    border: 1px solid var(--bg-color-secondary);
    border-radius: calc(var(--thumb-size) / 2);
    text-align: center;
    background-color: var(--bg-color-primary-contrast);
  }
}

main-footer {
  footer {
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--clr-gray-light);

    nav {
      display: inherit;
      align-items: inherit;
      height: inherit;
      justify-content: space-between;
      width: 100%;

      ul {
        display: inherit;
        align-items: inherit;
        gap: 16px;
        width: fit-content;
        li {
          width: fit-content;
        }
      }

      a {
        font-size: var(--fs-100);
      }
    }
  }
}

main-header {
  header {
    border: 0;
    height: 80px;
    position: relative;

     {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

fields-footer {
  .result {
    min-height: 76px;
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      min-height: inherit;
      display: inherit;
      align-items: end;
    }

    .left {
      p {
        font-size: var(--fs-fields-footer);
      }
    }
    .right {
      p {
        font-size: var(--fs-fields-footer-display);
      }
    }
  }
}
