@font-face {
  font-family: "Mulish";
  font-weight: 400;
  src: url(../../public/fonts/Mulish/Mulish.woff2);
}

@font-face {
  font-family: "Mulish";
  font-weight: 700;
  src: url(../../public/fonts/Mulish/Mulish-Bold.woff2);
}
