@import url(./fonts.css);
@import url(./root.css);

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  [role="list"],
  [role="menubar"] {
    list-style: none;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    color: var(--font-color-dark-headings);
  }

  p {
    text-wrap: pretty;
    font-size: var(--fs-p);
  }

  h1 {
    font-size: var(--fs-h1);
    letter-spacing: -0.04em;
    line-height: 1.05;
  }

  h2 {
    font-size: var(--fs-h2);
  }

  h3 {
    font-size: var(--fs-h3);
  }

  h4 {
    font-size: var(--fs-p);
  }

  button,
  a {
    font-size: var(--fs-400);
    font-weight: 700;
    min-height: var(--thumb-size);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: inline;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  ul,
  ol {
    list-style-position: inside;
  }
}

@layer base {
  body {
    font-family: var(--ff);
    color: var(--font-color-dark);
    font-size: var(--fs-300);
    background-color: var(--bg-color);
  }

  header {
    min-height: var(--header-height);
  }

  main {
    min-height: var(--main-height);
  }

  footer {
    min-height: var(--footer-height);
  }
}
