@font-face {
    font-family: "Orbitron";
    font-weight: 400;
    src: url(/public/fonts/Orbitron-Regular.woff2);
}

@font-face {
    font-family: "Orbitron";
    font-weight: 700;
    src: url(/public/fonts/Orbitron-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Orbitron, sans-serif;
    font-weight: 400;
    color: var(--text-dark);
    background-color: var(--bg);
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: var(--main);
    color: var(--text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
}
