:root {
    /* colors */
    --text-dark: #000000;
    --text-light: #ffffff;
    --bg: #ffffff;
    --surface: #e5e5e5;
    --accent: #fca311;
    --main: #14213d;
    /* spaces */
    --border-radius: 24px;
}
