:root {
  --ff: "Mulish", sans-serif;

  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  /* font sizes */
  --fs-300: 1rem;
}

:root {
  /* colors */
  --bg-color: var(--clr-white);
  --font-color: var(--clr-black);
  --font-color-light: var(--clr-white);

  /* sizes */
  --thumb-size: 44px;
  --header-height: 100px;
  --footer-height: 100px;
  --main-height: calc(100dvh - var(--header-height) - var(--footer-height));
}
