.content-container {
  width: var(--content-container-width);
  margin: 0 auto;
  padding: 0 var(--content-container-lateral-padding);
}

.contrast-colors {
  background-color: var(--bg-color-primary-contrast);
  color: var(--font-color-primary-contrast);
  h1,
  h2,
  h3,
  h4,
  a,
  label,
  input {
    color: var(--font-color-secondary-contrast);
  }
}

.accent-colors {
  background-color: var(--bg-color-accent);
  color: var(--font-color-primary-contrast);
  h1,
  h2,
  h3,
  h4,
  a,
  label,
  input {
    color: var(--font-color-secondary-contrast);
  }
}

.hover-to-accent {
  transition: color 250ms;
}
.hover-to-accent:hover {
  color: var(--font-color-accent);
}
