.content-container {
  width: var(--content-container-width);
  height: inherit;
  margin: 0 auto;
  padding: 0 var(--content-container-padding);
}

.contrast-colors {
  background-color: var(--bg-color-primary-contrast);
  color: var(--font-color-primary-contrast);
  h1,
  h2,
  h3,
  h4,
  a,
  label,
  input {
    color: var(--font-color-secondary-contrast);
  }
}

.accent-colors {
  background-color: var(--bg-color-accent);
  color: var(--font-color-primary-contrast);
  h1,
  h2,
  h3,
  h4,
  a,
  label,
  input {
    color: var(--font-color-secondary-contrast);
  }
}

.hover-to-accent {
  transition: color 250ms;
}
.hover-to-accent:hover {
  color: var(--font-color-accent);
}

.pt-40 {
  padding-top: 40px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .field-title {
    font-size: var(--fs-100);
  }

  .field-subheading {
    color: var(--clr-gray-medium);
    font-size: var(--fs-100);
  }
}

.font-accent {
  color: var(--font-color-accent);
}

.big-paragraph {
  font-size: var(--fs-about-text);
}

.about-column {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (width >= 572px) {
  .about-column {
    gap: 120px;
  }
}

#hero {
  h1,
  p {
    text-align: center;
  }
}

.bgDoodle {
  background-image: url(/src/assets/images/doodles/doodle-square.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.logo {
  background-color: var(--bg-color-primary);
  border-radius: 8px;
}

.bgLightGreen {
  background-color: var(--bg-color-light-green);
}

.bgLightBlue {
  background-color: var(--bg-color-light-blue);
}

.bgLightYellow {
  background-color: var(--bg-color-light-yellow);
}
