/* flexbox */
.flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* height */
.h-100 {
    height: 100%;
}

.h-1 {
    height: 1rem;
}

.h-2 {
    height: 2rem;
}

.h-3 {
    height: 3rem;
}

.top-container {
    height: 100vh;
    height: 100dvh;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: coral;
    min-height: 100vw;
    max-height: 161.8vw;
}

.description > p {
    font-size: 21px;
    font-weight: 400;
}

/* width */
.w-100 {
    width: 100%;
}

.w-1 {
    width: 1rem;
}

.w-2 {
    width: 2rem;
}

.w-3 {
    width: 3rem;
}

.w-4 {
    width: 4rem;
}

.w-5 {
    width: 5rem;
}

.w-6 {
    width: 6rem;
}

/* padding */
.p-1 {
    padding: 1rem;
}

.py-1 {
    padding: 1rem 0;
}

/* margin */
.m-1 {
    margin: 1rem;
}

.m-1-5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* background */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

/* color */
.primary-color {
    color: var(--primary-color);
}
