::slotted(input) {
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    text-align: center;
    width: 4rem;
    margin: 0 2px;
    outline-color: var(--accent-color-hover);

    -moz-appearance: textfield;
}
