* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color);
    background-color: var(--background-color);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.78rem;
    font-weight: 700;
}

h3 {
    font-size: 1.58rem;
    font-weight: 600;
}

h4 {
    font-size: 1.41rem;
    font-weight: 500;
}

h5 {
    font-size: 1.26rem;
    font-weight: 400;
}

h6 {
    font-size: 1.12rem;
    font-weight: 300;
}

button {
    font-size: inherit;
    font-weight: inherit;
}
