<div class="main-content">
    <h3>Elettrico</h3>
    <hr />
    <ol>
        <li>
            <label>Km percorsi annualmente</label>
            <input id="distance type="number" inputmode="numeric" />
        </li>
        <li>
            <label>Consumo (kWh)</label>
            <input id="efficiency" type="number" inputmode="numeric" />
        </li>
    </ol>
    <hr />
    <ol>
        <li>
            <label>Anticipo</label>
            <input id="upfront" type="number" inputmode="numeric" />
        </li>
        <li>
            <label>Rata mensile</label>
            <input id="monthly" type="number" inputmode="numeric" />
        </li>
        <li>
            <label>Durata (mesi)</label>
            <input id="months" type="number" inputmode="numeric" />
        </li>
    </ol>
    <hr />
    <button id="calc-button">Calcola</button>
</div>
